

.add-note-title{
    width:90%;
    margin:10px;
    margin-top: 5px;
    border:none;
}

.add-note-content{
    width: 90%;
    margin:10px;
    margin-top: 5px;
    border:none;
    padding-bottom: 40px;
}

